<div class="uk-navbar-left">
  <%= link_to 'red caddie', root_path, class: "uk-navbar-item uk-navbar-logo uk-visible@m" %>
  <%= yield :offcanvas_content %>
</div>
<div class="uk-navbar-right">
  <ul class="uk-navbar-nav">
    <% if current_user %>
    <li><%= link_to current_user&.email, try(:my_page_user_profile_path, current_user.try(:user_profile)) %></li>
    <li><%= link_to 'Sign out', sign_out_path, data: { method: :post } %></li>
    <% else %>
    <li><%= link_to 'Sign in', sign_in_path %></li>
    <% end %>
  </ul>
</div>
