<%%= form_with(model: <%= singular_table_name %>, local: true, html: { class: "uk-form-horizontal" }) do |form| %>
  <%% if <%= singular_table_name %>.errors.any? %>
    <div id="error_explanation">
      <h2><%%= pluralize(<%= singular_table_name %>.errors.count, "error") %> prohibited this <%= singular_table_name %> from being saved:</h2>

      <ul>
      <%% <%= singular_table_name %>.errors.full_messages.each do |message| %>
        <li><%%= message %></li>
      <%% end %>
      </ul>
    </div>
  <%% end %>

<% attributes.each do |attribute| -%>
<% if attribute.password_digest? -%>
<div class="uk-margin">
  <label class="uk-form-label">
    <%%= form.label :password %>
  </label>
  <div class="uk-form-controls">
    <%%= form.password_field :password, id: :<%= field_id(:password) %>, class: 'uk-input' %>
  </div>
</div>
<div class="uk-margin">
  <label class="uk-form-label">
    <%%= form.label :password_confirmation %>
  </label>
  <div class="uk-form-controls">
    <%%= form.password_field :password_confirmation, id: :<%= field_id(:password_confirmation) %>, class: 'uk-input' %>
  </div>
</div>
<% else -%>
<div class="uk-margin">
  <label class="uk-form-label">
    <%%= form.label :<%= attribute.column_name %> %>
  </label>
  <div class="uk-form-controls">
<% if attribute.type == :text -%>
    <%%= form.<%= attribute.field_type %> :<%= attribute.column_name %>, id: :<%= field_id(attribute.column_name) %>, class: 'uk-textarea uk-form-width-large' %>
<% elsif attribute.type == :boolean -%>
    <%%= form.<%= attribute.field_type %> :<%= attribute.column_name %>, id: :<%= field_id(attribute.column_name) %>, class: 'uk-checkbox uk-form-width-medium' %>
<% elsif attribute.type == :date -%>
    <%%= form.<%= attribute.field_type %> :<%= attribute.column_name %>, {}, { id: :<%= field_id(attribute.column_name) %>, class: 'uk-select uk-form-width-small' } %>
<% else -%>
    <%%= form.<%= attribute.field_type %> :<%= attribute.column_name %>, id: :<%= field_id(attribute.column_name) %>, class: 'uk-input uk-form-width-medium' %>
<% end -%>
  </div>
</div>
<% end -%>
<% end -%>

<div class="uk-margin">
  <%%= form.submit nil, class: 'uk-button uk-button-primary' %>
</div>
<%% end %>
