<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @todo.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @todo.title %>
</p>

<p>
  <strong>Note:</strong>
  <%= @todo.note %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @todo.due_date %>
</p>

<p>
  <strong>Completed on:</strong>
  <%= @todo.completed_on %>
</p>

<p>
  <strong>Repeat:</strong>
  <%= @todo.repeat %>
</p>

<p>
  <strong>Urgent:</strong>
  <%= @todo.urgent %>
</p>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
