<%= form_with(model: user, url: user_sessions_path, local: true, html: { class: "uk-form-horizontal" }) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="uk-margin">
  <label class="uk-form-label">
    <%= form.label :email %>
  </label>
  <div class="uk-form-controls">
    <%= form.text_field :email, id: :user_email, class: 'uk-input uk-form-width-medium' %>
  </div>
</div>
<div class="uk-margin">
  <label class="uk-form-label">
    <%= form.label :password %>
  </label>
  <div class="uk-form-controls">
    <%= form.password_field :password, id: :user_password, class: 'uk-input uk-form-width-medium' %>
  </div>
</div>

<div class="uk-margin">
  <%= form.submit nil, class: 'uk-button uk-button-primary' %>
</div>
<% end %>
